@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  .headerTop {
    position: fixed;
    top: 0px;
    transition: all 0.3s ease;
  }
  .closeHeader {
    transform: translateY(-150%);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.swiper-pagination {
  background-color: linear-gradient(to left, black, white) !important;
  -webkit-background-color: linear-gradient(to left, black, white) !important;
  backdrop-filter: invert(25%);
  -webkit-backdrop-filter: invert(25%);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  width: 25% !important;
  -webkit-width: 25% !important;
  left: 125px !important;
  -webkit-left: 125px !important;
  position: absolute !important;
  -webkit-position: absolute !important;
}
@media (min-width: 1024px) {
  .swiper-pagination {
    background-color: linear-gradient(to left, black, white) !important;
    -webkit-background-color: linear-gradient(to left, black, white) !important;
    backdrop-filter: invert(25%);
    -webkit-backdrop-filter: invert(25%);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    width: 25% !important;
    -webkit-width: 25% !important;
    left: 140px !important;
    -webkit-left: 140px !important;
    position: absolute !important;
    -webkit-position: absolute !important;
  }
}
.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background-color: #FFFFFF/25 !important;
  -webkit-background-color: #FFFFFF/25 !important;
  margin: 0 2px !important;
  opacity: 1;
  border-radius: 0;
  &.swiper-pagination-bullet-active {
    background-color: #ffffff !important;
    -webkit-background-color: #ffffff !important;
  }
}
.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
  -webkit-background-color: #ffffff !important;
}
.rcs-inner-handle {
  color: #000 !important;
}
